In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline
import seaborn as sns

In [5]:
df1=pd.read_csv("C:/Users/hp/Desktop/datascience/EDA on MegaMart_Sales/MegaMart_sales.csv")
df.head()

,Order ID,Product Name,Discount,Sales,Profit,Quantity,Category,Sub-Category
0,AZ-2011-1029887,"Novimex Color Coded Labels, 5000 Label Set",0.0,26,7,2,Office Supplies,Labels
1,AZ-2011-107716,"Deflect-O Door Stop, Erganomic",0.0,85,15,2,Furniture,Furnishings
2,AZ-2011-1087704,"Belkin Flash Drive, Bluetooth",0.0,294,109,7,Technology,Accessories
3,AZ-2011-1372644,"Panasonic Printer, Durable",0.0,800,168,3,Technology,Machines
4,AZ-2011-1362199,"Sanford Pens, Fluorescent",0.5,25,-11,4,Office Supplies,Art

In [6]:
df1.shape

(59, 8)

In [4]:
df_new=pd.read_csv("C:/Users/hp/Desktop/datascience/EDA on MegaMart_Sales/MegaMart_newsales.csv")
df_new.head()

,Order ID,Product Name,Discount,Sales,Profit,Quantity,Category,Sub-Category
0,AZ-2011-1902971,"Wilson Jones Binding Machine, Clear",0.0,339,102,7,Office Supplies,Binders
1,AZ-2011-1916360,"Dania 3-Shelf Cabinet, Mobile",0.0,288,20,2,Furniture,Bookcases
2,AZ-2011-1916555,"Eldon Folders, Single Width",0.4,61,7,6,Office Supplies,Storage
3,AZ-2011-1930058,"Sanford Markers, Easy-Erase",0.0,71,1,3,Office Supplies,Art
4,AZ-2011-1967754,"Logitech Numeric Keypad, USB",0.0,93,40,2,Technology,Accessories

In [7]:
df_new.shape

(9, 8)

In [8]:
df=pd.concat([df1,df_new],axis=0)
df.head()

,Order ID,Product Name,Discount,Sales,Profit,Quantity,Category,Sub-Category
0,AZ-2011-1029887,"Novimex Color Coded Labels, 5000 Label Set",0.0,26,7,2,Office Supplies,Labels
1,AZ-2011-107716,"Deflect-O Door Stop, Erganomic",0.0,85,15,2,Furniture,Furnishings
2,AZ-2011-1087704,"Belkin Flash Drive, Bluetooth",0.0,294,109,7,Technology,Accessories
3,AZ-2011-1372644,"Panasonic Printer, Durable",0.0,800,168,3,Technology,Machines
4,AZ-2011-1362199,"Sanford Pens, Fluorescent",0.5,25,-11,4,Office Supplies,Art

In [9]:
df.shape

(68, 8)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 68 entries, 0 to 8
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Order ID      68 non-null     object
 1   Product Name  68 non-null     object
 2   Discount      68 non-null     float64
 3   Sales         68 non-null     int64
 4   Profit        68 non-null     int64
 5   Quantity      68 non-null     int64
 6   Category      68 non-null     object
 7   Sub-Category  68 non-null     object
dtypes: float64(1), int64(3), object(4)
memory usage: 4.8+ KB

In [11]:
#Question 1: Some of the orders are stored in another csv file named megamart_new sales. Read the csv file, store it 
#in a data frame and add it to the megamart_sales data frame. Find the total sales value of the category 'Office Supplies' 
#after combining the dataframes

#a)7970
#b)6964
#c)7494
#d)6076

In [12]:
df[df['Category']=="Office Supplies"]['Sales'].sum()

7970

In [13]:
#Question 2: There are some duplicate rows in the data frame. Drop these rows and calculate the total sales value
#of the category Office Supplies.

#a)7156
#b)6496
#c)6964
#d)6023

In [14]:
df.drop_duplicates(subset=None,keep='first',inplace = True)

In [15]:
df[df['Category']=="Office Supplies"]['Sales'].sum()

6964

In [16]:
#Question 3: Find the most profitable category and sub category combination based on the net profit.

#a)Furniture-Bookcases
#b)Office supplies-Appliances
#c)Office supplies-Storage
#d)Technology-Phones

In [17]:
df.groupby(by=["Category","Sub-Category"])['Profit'].sum()

Category         Sub-Category
Furniture        Bookcases        308
                 Chairs           -49
                 Furnishings       74
Office Supplies  Appliances       229
                 Art              275
                 Binders          156
                 Envelopes         35
                 Fasteners         10
                 Labels            30
                 Paper             15
                 Storage          192
                 Supplies         103
Technology       Accessories      215
                 Copiers            0
                 Machines         168
                 Phones          1618
Name: Profit, dtype: int64

In [18]:
pd.pivot_table(df,index=["Category","Sub-Category"],values='Profit',aggfunc='sum')

                              Profit
Category        Sub-Category
Furniture       Bookcases        308
                Chairs           -49
                Furnishings       74
Office Supplies Appliances       229
                Art              275
                Binders          156
                Envelopes         35
                Fasteners         10
                Labels            30
                Paper             15
                Storage          192
                Supplies         103
Technology      Accessories      215
                Copiers            0
                Machines         168
                Phones          1618

In [19]:
#Invalid order IDs
#Question 4: How many invalid order IDs are there in the data frame. An order id is of the form AZ-2011-Y where Y 
#represents a whole number. A Order ID is said to be valid only if Y consists of 7 digits. Find the number of 
#valid order order IDs in the data frame.

#a)6
#b)7
#c)8
#d)9

In [20]:
df.head()

,Order ID,Product Name,Discount,Sales,Profit,Quantity,Category,Sub-Category
0,AZ-2011-1029887,"Novimex Color Coded Labels, 5000 Label Set",0.0,26,7,2,Office Supplies,Labels
1,AZ-2011-107716,"Deflect-O Door Stop, Erganomic",0.0,85,15,2,Furniture,Furnishings
2,AZ-2011-1087704,"Belkin Flash Drive, Bluetooth",0.0,294,109,7,Technology,Accessories
3,AZ-2011-1372644,"Panasonic Printer, Durable",0.0,800,168,3,Technology,Machines
4,AZ-2011-1362199,"Sanford Pens, Fluorescent",0.5,25,-11,4,Office Supplies,Art

In [21]:
def order_ID(order_id):
    return order_id.split('-')[2]

In [22]:
df['order No']=df['Order ID'].apply(order_ID)
df

,Order ID,Product Name,Discount,Sales,Profit,Quantity,Category,Sub-Category,order No
0,AZ-2011-1029887,"Novimex Color Coded Labels, 5000 Label Set",0.0,26,7,2,Office Supplies,Labels,1029887
1,AZ-2011-107716,"Deflect-O Door Stop, Erganomic",0.0,85,15,2,Furniture,Furnishings,107716
2,AZ-2011-1087704,"Belkin Flash Drive, Bluetooth",0.0,294,109,7,Technology,Accessories,1087704
3,AZ-2011-1372644,"Panasonic Printer, Durable",0.0,800,168,3,Technology,Machines,1372644
4,AZ-2011-1362199,"Sanford Pens, Fluorescent",0.5,25,-11,4,Office Supplies,Art,1362199
...,...,...,...,...,...,...,...,...,...
4,AZ-2011-1967754,"Logitech Numeric Keypad, USB",0.0,93,40,2,Technology,Accessories,1967754
5,AZ-2011-1976919,"Boston Markers, Blue",0.0,132,54,5,Office Supplies,Art,1976919
6,AZ-2011-2001312,"Avery Binding Machine, Clear",0.0,97,12,2,Office Supplies,Binders,2001312
7,AZ-2011-2002251,"SanDisk Computer Printout Paper, 8.5 x 11",0.0,136,15,4,Office Supplies,Paper,2002251
8,AZ-2011-201891,"Cameo Clasp Envelope, with clear poly window",0.0,52,19,4,Office Supplies,Envelopes,201891

In [23]:
df['No of digits']=df['order No'].apply(len)
df

,Order ID,Product Name,Discount,Sales,Profit,Quantity,Category,Sub-Category,order No,No of digits
0,AZ-2011-1029887,"Novimex Color Coded Labels, 5000 Label Set",0.0,26,7,2,Office Supplies,Labels,1029887,7
1,AZ-2011-107716,"Deflect-O Door Stop, Erganomic",0.0,85,15,2,Furniture,Furnishings,107716,6
2,AZ-2011-1087704,"Belkin Flash Drive, Bluetooth",0.0,294,109,7,Technology,Accessories,1087704,7
3,AZ-2011-1372644,"Panasonic Printer, Durable",0.0,800,168,3,Technology,Machines,1372644,7
4,AZ-2011-1362199,"Sanford Pens, Fluorescent",0.5,25,-11,4,Office Supplies,Art,1362199,7
...,...,...,...,...,...,...,...,...,...,...
4,AZ-2011-1967754,"Logitech Numeric Keypad, USB",0.0,93,40,2,Technology,Accessories,1967754,7
5,AZ-2011-1976919,"Boston Markers, Blue",0.0,132,54,5,Office Supplies,Art,1976919,7
6,AZ-2011-2001312,"Avery Binding Machine, Clear",0.0,97,12,2,Office Supplies,Binders,2001312,7
7,AZ-2011-2002251,"SanDisk Computer Printout Paper, 8.5 x 11",0.0,136,15,4,Office Supplies,Paper,2002251,7
8,AZ-2011-201891,"Cameo Clasp Envelope, with clear poly window",0.0,52,19,4,Office Supplies,Envelopes,201891,6

In [24]:
df['No of digits'].value_counts()

7    54
6     7
Name: No of digits, dtype: int64

7 invalid order ID are there in dataset.

In [25]:
#Occurence of furniture in top 25 sales
#Question 5: Find the top 25 orders based on sales value and find the number of orders which belong to furniture category.

#a)2
#b)3
#c)4
#d)5

In [26]:
df1=df.sort_values(by='Sales',ascending=False)
df1=df1.iloc[:25,]
df1['Category'].value_counts()

Office Supplies    11
Technology          9
Furniture           5
Name: Category, dtype: int64

In [27]:
#Question 6: Among the orders with sales>250 and profit>50, find the product name of the fourth highest order based on
#sales value.

#a)Motorola Headset, with Caller ID
#b)Panasonic Printer, Durable    
#c)Hoover Microwave, Red    
#d)Fellowes Lockers, Industrial

In [28]:
x=df[(df['Sales']>250) & (df['Profit']>50)]
x.sort_values(by=['Sales','Profit'],ascending=False).head(4)

,Order ID,Product Name,Discount,Sales,Profit,Quantity,Category,Sub-Category,order No,No of digits
30,AZ-2011-1410648,"Nokia Smart Phone, Full Size",0.0,1908,820,3,Technology,Phones,1410648,7
58,AZ-2011-176674,"Hoover Microwave, Red",0.1,1667,185,6,Office Supplies,Appliances,176674,6
8,AZ-2011-1174243,"Nokia Audio Dock, with Caller ID",0.0,1334,200,8,Technology,Phones,1174243,7
20,AZ-2011-1322840,"Motorola Headset, with Caller ID",0.0,957,316,12,Technology,Phones,1322840,7

In [29]:
#Question 7: Remove the orders with negative profit by dropping the corresponding rows with negative Profit.
#Find the product that makes the lowest profit per Quantity in the Technology category.

#a) Nokia Audio Dock, with Caller ID
#b) Logitech Keyboard, Programmable
#c) Motorola Headset, with Caller ID
#d) Belkin Flash Drive, Bluetooth

In [30]:
y=df[df['Profit']>0]
y=y[y['Category']=="Technology"]
y

,Order ID,Product Name,Discount,Sales,Profit,Quantity,Category,Sub-Category,order No,No of digits
2,AZ-2011-1087704,"Belkin Flash Drive, Bluetooth",0.0,294,109,7,Technology,Accessories,1087704,7
3,AZ-2011-1372644,"Panasonic Printer, Durable",0.0,800,168,3,Technology,Machines,1372644,7
8,AZ-2011-1174243,"Nokia Audio Dock, with Caller ID",0.0,1334,200,8,Technology,Phones,1174243,7
20,AZ-2011-1322840,"Motorola Headset, with Caller ID",0.0,957,316,12,Technology,Phones,1322840,7
30,AZ-2011-1410648,"Nokia Smart Phone, Full Size",0.0,1908,820,3,Technology,Phones,1410648,7
33,AZ-2011-1445262,"Apple Smart Phone, Cordless",0.0,636,140,1,Technology,Phones,1445262,7
39,AZ-2011-1536006,"Logitech Keyboard, Programmable",0.0,666,66,9,Technology,Accessories,1536006,7
52,AZ-2011-1722024,"Cisco Audio Dock, VoIP",0.0,364,142,2,Technology,Phones,1722024,7
4,AZ-2011-1967754,"Logitech Numeric Keypad, USB",0.0,93,40,2,Technology,Accessories,1967754,7

In [31]:
import warnings
warnings.filterwarnings('ignore')

In [32]:
y['Profit per Unit']=y['Profit']/y['Quantity']
y

,Order ID,Product Name,Discount,Sales,Profit,Quantity,Category,Sub-Category,order No,No of digits,Profit per Unit
2,AZ-2011-1087704,"Belkin Flash Drive, Bluetooth",0.0,294,109,7,Technology,Accessories,1087704,7,15.571429
3,AZ-2011-1372644,"Panasonic Printer, Durable",0.0,800,168,3,Technology,Machines,1372644,7,56.000000
8,AZ-2011-1174243,"Nokia Audio Dock, with Caller ID",0.0,1334,200,8,Technology,Phones,1174243,7,25.000000
20,AZ-2011-1322840,"Motorola Headset, with Caller ID",0.0,957,316,12,Technology,Phones,1322840,7,26.333333
30,AZ-2011-1410648,"Nokia Smart Phone, Full Size",0.0,1908,820,3,Technology,Phones,1410648,7,273.333333
33,AZ-2011-1445262,"Apple Smart Phone, Cordless",0.0,636,140,1,Technology,Phones,1445262,7,140.000000
39,AZ-2011-1536006,"Logitech Keyboard, Programmable",0.0,666,66,9,Technology,Accessories,1536006,7,7.333333
52,AZ-2011-1722024,"Cisco Audio Dock, VoIP",0.0,364,142,2,Technology,Phones,1722024,7,71.000000
4,AZ-2011-1967754,"Logitech Numeric Keypad, USB",0.0,93,40,2,Technology,Accessories,1967754,7,20.000000

In [33]:
y.sort_values(by='Profit per Unit')

,Order ID,Product Name,Discount,Sales,Profit,Quantity,Category,Sub-Category,order No,No of digits,Profit per Unit
39,AZ-2011-1536006,"Logitech Keyboard, Programmable",0.0,666,66,9,Technology,Accessories,1536006,7,7.333333
2,AZ-2011-1087704,"Belkin Flash Drive, Bluetooth",0.0,294,109,7,Technology,Accessories,1087704,7,15.571429
4,AZ-2011-1967754,"Logitech Numeric Keypad, USB",0.0,93,40,2,Technology,Accessories,1967754,7,20.000000
8,AZ-2011-1174243,"Nokia Audio Dock, with Caller ID",0.0,1334,200,8,Technology,Phones,1174243,7,25.000000
20,AZ-2011-1322840,"Motorola Headset, with Caller ID",0.0,957,316,12,Technology,Phones,1322840,7,26.333333
3,AZ-2011-1372644,"Panasonic Printer, Durable",0.0,800,168,3,Technology,Machines,1372644,7,56.000000
52,AZ-2011-1722024,"Cisco Audio Dock, VoIP",0.0,364,142,2,Technology,Phones,1722024,7,71.000000
33,AZ-2011-1445262,"Apple Smart Phone, Cordless",0.0,636,140,1,Technology,Phones,1445262,7,140.000000
30,AZ-2011-1410648,"Nokia Smart Phone, Full Size",0.0,1908,820,3,Technology,Phones,1410648,7,273.333333